body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  font-size: 13px;
  color: #333;
  display: block;
}

.headerContainer {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.headerLogo h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
  text-align: center;
  padding: 20px 20px;
}

.navi {
  background: rgba(63, 191, 191, 0.53);
}

.naviContainer {
  margin: 0 auto;
  margin-bottom: 60px;
}

.menu {
  max-width: 1000px;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0;
  text-align: center;
  height: 50px;
}

.menu li {
  list-style: none;
  display: table-cell;
  vertical-align: center;
  line-height: 50px;
  font-size: 15px;
  border-right: 1px solid white;
}

.menu1 {
  border-left: 1px solid white;
}

.menu li:hover {
  color: olive;
  cursor: pointer;
  background: rgba(63, 191, 191, 0.2);
}

.menu .fa {
  margin-right: 8px;
}

.flexboxGroup1 {
  display: flex;
  flex-direction: c;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  background: cornflowerblue;
}

.box1 {
  width: 200px;
  height: 200px;
  background: red;
  flex-shrink: 1;
}

.box2 {
  width: 200px;
  height: 200px;
  background: blue;
}

.box3 {
  width: 200px;
  height: 200px;
  background: green;
}

.box4 {
  width: 200px;
  height: 200px;
  background: skyblue;
}

.box5 {
  width: 200px;
  height: 200px;
  background: orange;
}

.box6 {
  width: 200px;
  height: 200px;
  background: pink;
}

.box7 {
  width: 200px;
  height: 200px;
  background: silver;
}

.box8 {
  width: 200px;
  height: 200px;
  background: greenyellow;
}

.box9 {
  width: 200px;
  height: 200px;
  background: slateblue;
}

.box10 {
  width: 200px;
  height: 200px;
  background: gold;
}
